@use 'cube' as *;
@use 'sass:math';
// positions

.y {
    &-top {
        top: var(--top, 0px);
    }
    &-middle {
        top: var(--top, $cube_size);
    }
    &-bottom {
        bottom: var(--bottom, 0px);
    }
}

.x {
    &-left {
        left: var(--left, 0px);
    }
    &-middle {
        left: var(--left, $cube_size);
    }
    &-right {
        right: var(--right, 0px);
    }
}

.z {
    &-front {
        transform: translate3d(
            var(--translateX, 0px),
            var(--translateY, 0px),
            calc(0p + var(--translateZ, 0px))
        );
    }
    &-middle {
        transform: translate3d(
            var(--translateX, 0px),
            var(--translateY, 0px),
            calc(#{-$cube_size} + var(--translateZ, 0px))
        );
    }
    &-back {
        transform: translate3d(
            var(--translateX, 0px),
            var(--translateY, 0px),
            calc(#{-2 * $cube_size} + var(--translateZ, 0px))
        );
    }
}

$animation-time: 1000ms;

.y-bottom {
    animation: r-bottom $animation-time * 2 forwards;

    &.x-left {
        transform-origin: ($cube-size + math.div($cube-size, 2)) 0px
            (-1 * $cube-size);
    }
    &.x-middle {
        transform-origin: math.div($cube-size, 2) 0px (-1 * $cube-size);
    }
    &.x-right {
        transform-origin: math.div((-1 * $cube-size), 2) 0px (-1 * $cube-size);
    }
}

@keyframes r-bottom {
    0% {
        rotate: y 0deg;
    }
    50% {
        rotate: y 90deg;
    }
    100% {
        rotate: y 180deg;
    }
}

.y-top {
    animation: r-top $animation-time * 3 forwards;

    animation-delay: $animation-time * 2;

    &.x-left {
        transform-origin: ($cube-size + math.div($cube-size, 2)) 0px
            (-1 * $cube-size);
    }
    &.x-middle {
        transform-origin: (math.div($cube-size, 2)) 0px (-1 * $cube-size);
    }
    &.x-right {
        transform-origin: (math.div(-1 * $cube-size, 2)) 0px (-1 * $cube-size);
    }
}

@keyframes r-top {
    0% {
        rotate: y 0deg;
    }
    33% {
        rotate: y -90deg;
    }
    66% {
        rotate: y -180deg;
    }
    100% {
        rotate: y -270deg;
    }
}

.y-middle {
    animation: r-middle $animation-time * 5 forwards;
    animation-delay: $animation-time * 5;

    &.x-left {
        transform-origin: ($cube-size + math.div($cube-size, 2)) 0px
            (-1 * $cube-size);
    }
    &.x-middle {
        transform-origin: (math.div($cube-size, 2)) 0px (-1 * $cube-size);
    }
    &.x-right {
        transform-origin: (math.div(-1 * $cube-size, 2)) 0px (-1 * $cube-size);
    }
}

@keyframes r-middle {
    0% {
        rotate: y 0deg;
    }
    20% {
        rotate: y 90deg;
    }
    40% {
        rotate: y 180deg;
    }
    60% {
        rotate: y 270deg;
    }
    80% {
        rotate: y 360deg;
    }
    100% {
        rotate: y 360deg;
    }
}
