* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #26f;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 240px;
  height: 240px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(35deg) rotateX(30deg) rotateZ(10deg);
}
@keyframes bye {
  0%, 100% {
    transform: rotateY(-20deg) rotateX(20deg) rotateZ(-40deg);
  }
  50% {
    transform: rotateY(-360deg) rotateX(-360deg) rotateZ(-360deg);
  }
}
.cube {
  width: 80px;
  height: 80px;
  position: absolute;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: 1;
  border: solid black 1px;
}
.face--front {
  background: var(--front-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateY(0deg) translateZ(40px);
}
.face--back {
  background: var(--back-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateY(180deg) translateZ(40px);
}
.face--left {
  background: var(--left-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateY(-90deg) translateZ(40px);
}
.face--right {
  background: var(--right-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateY(90deg) translateZ(40px);
}
.face--top {
  background: var(--top-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateX(90deg) translateZ(40px);
}
.face--bottom {
  background: var(--bottom-color, rgba(0, 0, 0, 0.0666666667));
  transform: rotateX(-90deg) translateZ(40px);
}

.z-front {
  --front-color: #f00;
}

.z-back {
  --back-color: #0f0;
}

.x-left {
  --left-color: #00f;
}

.x-right {
  --right-color: #ffa500;
}

.y-top {
  --top-color: #fff;
}

.y-bottom {
  --bottom-color: #ffff00;
}

.y-top {
  top: var(--top, 0px);
}
.y-middle {
  top: var(--top, 80px);
}
.y-bottom {
  bottom: var(--bottom, 0px);
}

.x-left {
  left: var(--left, 0px);
}
.x-middle {
  left: var(--left, 80px);
}
.x-right {
  right: var(--right, 0px);
}

.z-front {
  transform: translate3d(0px, 0px, 0px);
}
.z-middle {
  transform: translate3d(0px, 0px, -80px);
}
.z-back {
  transform: translate3d(0px, 0px, -160px);
}

.y-bottom.x-left {
  transform-origin: 120px 0px -80px;
}
.y-bottom.x-left.z-front {
  animation: yb-xl-zf 2000ms forwards;
}
@keyframes yb-xl-zf {
  0% {
    rotate: y 0deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(0px, 0px, 160px);
  }
}
.y-bottom.x-left.z-middle {
  animation: yb-xl-zm 2000ms forwards;
}
@keyframes yb-xl-zm {
  0% {
    rotate: y 0deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(0px, 0px, 80px);
  }
}
.y-bottom.x-left.z-back {
  animation: yb-xl-zb 2000ms forwards;
}
@keyframes yb-xl-zb {
  0% {
    rotate: y 0deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 120px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(0px, 0px, 0px);
  }
}
.y-bottom.x-middle {
  transform-origin: 40px 0px -80px;
}
.y-bottom.x-middle.z-front {
  animation: yb-xm-zf 2000ms forwards;
}
@keyframes yb-xm-zf {
  0% {
    rotate: y 0deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(80px, 0px, 80px);
  }
}
.y-bottom.x-middle.z-middle {
  animation: yb-xm-zm 2000ms forwards;
}
@keyframes yb-xm-zm {
  0% {
    rotate: y 0deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(80px, 0px, 0px);
  }
}
.y-bottom.x-middle.z-back {
  animation: yb-xm-zb 2000ms forwards;
}
@keyframes yb-xm-zb {
  0% {
    rotate: y 0deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: 40px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(80px, 0px, -80px);
  }
}
.y-bottom.x-right {
  transform-origin: -40px 0px -80px;
}
.y-bottom.x-right.z-front {
  animation: yb-xr-zf 2000ms forwards;
}
@keyframes yb-xr-zf {
  0% {
    rotate: y 0deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(160px, 0px, 0px);
  }
}
.y-bottom.x-right.z-middle {
  animation: yb-xr-zm 2000ms forwards;
}
@keyframes yb-xr-zm {
  0% {
    rotate: y 0deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, -80px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(160px, 0px, -80px);
  }
}
.y-bottom.x-right.z-back {
  animation: yb-xr-zb 2000ms forwards;
}
@keyframes yb-xr-zb {
  0% {
    rotate: y 0deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  99% {
    rotate: y 90deg;
    transform-origin: -40px 0px -80px;
    transform: translate3d(0px, 0px, -160px);
  }
  100% {
    transform-origin: initial;
    rotate: y 90deg;
    transform: translate3d(160px, 0px, -160px);
  }
}

/*# sourceMappingURL=style.css.map */
