.container {
  width: 240px;
  height: 240px;
  z-index: 999;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(35deg) rotateX(-35deg) rotateZ(0deg);
}
.container:hover {
  animation: rotate-container 6000ms infinite ease-in-out;
}

@keyframes rotate-container {
  0%, 100% {
    transform: rotateY(35deg) rotateX(-35deg) rotateZ(0deg);
  }
  25% {
    transform: rotateY(145deg) rotateX(-180deg) rotateZ(60deg);
  }
  50% {
    transform: rotateY(450deg) rotateX(-300deg) rotateZ(0deg);
  }
  75% {
    transform: rotateY(220deg) rotateX(-100deg) rotateZ(20deg);
  }
}
.cube {
  width: 80px;
  height: 80px;
  position: absolute;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: var(--face-opacity, 1);
  border-radius: 8px;
  border: solid black 1px;
  transition: all 700ms;
}
.face--front {
  background: var(--front-color, rgba(0, 0, 0, 0.8));
  transform: rotateY(0deg) translateZ(40px);
}
.face--back {
  background: var(--back-color, rgba(0, 0, 0, 0.8));
  transform: rotateY(180deg) translateZ(40px);
}
.face--left {
  background: var(--left-color, rgba(0, 0, 0, 0.8));
  transform: rotateY(-90deg) translateZ(40px);
}
.face--right {
  background: var(--right-color, rgba(0, 0, 0, 0.8));
  transform: rotateY(90deg) translateZ(40px);
}
.face--top {
  background: var(--top-color, rgba(0, 0, 0, 0.8));
  transform: rotateX(90deg) translateZ(40px);
}
.face--bottom {
  background: var(--bottom-color, rgba(0, 0, 0, 0.8));
  transform: rotateX(-90deg) translateZ(40px);
}

.header {
  position: absolute;
  top: 0px;
  padding: 10px;
}
.header h1 {
  font-size: 4rem;
  font-weight: 700;
}
.header p mark {
  padding: 0px 8px;
  border-radius: 8px;
  background-color: #252422;
  color: #eb5e28;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a:hover {
  text-decoration: underline;
}

.y-top {
  top: var(--top, 0px);
}
.y-middle {
  top: var(--top, 80px);
}
.y-bottom {
  bottom: var(--bottom, 0px);
}

.x-left {
  left: var(--left, 0px);
}
.x-middle {
  left: var(--left, 80px);
}
.x-right {
  right: var(--right, 0px);
}

.z-front {
  transform: translate3d(var(--translateX, 0px), var(--translateY, 0px), calc(0p + var(--translateZ, 0px)));
}
.z-middle {
  transform: translate3d(var(--translateX, 0px), var(--translateY, 0px), calc(-80px + var(--translateZ, 0px)));
}
.z-back {
  transform: translate3d(var(--translateX, 0px), var(--translateY, 0px), calc(-160px + var(--translateZ, 0px)));
}

.y-bottom {
  animation: r-bottom 2000ms forwards;
}
.y-bottom.x-left {
  transform-origin: 120px 0px -80px;
}
.y-bottom.x-middle {
  transform-origin: 40px 0px -80px;
}
.y-bottom.x-right {
  transform-origin: -40px 0px -80px;
}

@keyframes r-bottom {
  0% {
    rotate: y 0deg;
  }
  50% {
    rotate: y 90deg;
  }
  100% {
    rotate: y 180deg;
  }
}
.y-top {
  animation: r-top 3000ms forwards;
  animation-delay: 2000ms;
}
.y-top.x-left {
  transform-origin: 120px 0px -80px;
}
.y-top.x-middle {
  transform-origin: 40px 0px -80px;
}
.y-top.x-right {
  transform-origin: -40px 0px -80px;
}

@keyframes r-top {
  0% {
    rotate: y 0deg;
  }
  33% {
    rotate: y -90deg;
  }
  66% {
    rotate: y -180deg;
  }
  100% {
    rotate: y -270deg;
  }
}
.y-middle {
  animation: r-middle 5000ms forwards;
  animation-delay: 5000ms;
}
.y-middle.x-left {
  transform-origin: 120px 0px -80px;
}
.y-middle.x-middle {
  transform-origin: 40px 0px -80px;
}
.y-middle.x-right {
  transform-origin: -40px 0px -80px;
}

@keyframes r-middle {
  0% {
    rotate: y 0deg;
  }
  20% {
    rotate: y 90deg;
  }
  40% {
    rotate: y 180deg;
  }
  60% {
    rotate: y 270deg;
  }
  80% {
    rotate: y 360deg;
  }
  100% {
    rotate: y 360deg;
  }
}
.settings {
  max-width: 1200px;
  padding: 20px;
  gap: 40px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.settings h3 {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 10px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  width: max-width;
  display: inline-block;
  padding: 2px 8px;
}
.settings input {
  display: none;
  width: 0px;
  position: absolute;
}
.settings .labels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.settings .color-display {
  display: flex;
  border: solid 2px black;
  border-radius: 12px;
  overflow: hidden;
  height: 50px;
  cursor: pointer;
  position: relative;
  transition: border-color 200ms;
}
.settings .color-display .color-span {
  flex: 1;
  width: 100%;
}
.settings .color-display:nth-child(1):has(input:checked), .settings .color-display:nth-child(1):hover {
  border-color: #fdf0d5;
}
.settings .color-display:nth-child(1) .color-span:nth-child(2) {
  background-color: #fdf0d5;
}
.settings .color-display:nth-child(1) .color-span:nth-child(3) {
  background-color: #3a86ff;
}
.settings .color-display:nth-child(1) .color-span:nth-child(4) {
  background-color: #8338ec;
}
.settings .color-display:nth-child(1) .color-span:nth-child(5) {
  background-color: #ff006e;
}
.settings .color-display:nth-child(1) .color-span:nth-child(6) {
  background-color: #ffbe0b;
}
.settings .color-display:nth-child(1) .color-span:nth-child(7) {
  background-color: #fb5607;
}
.settings .color-display:nth-child(2):has(input:checked), .settings .color-display:nth-child(2):hover {
  border-color: #f00;
}
.settings .color-display:nth-child(2) .color-span:nth-child(2) {
  background-color: #f00;
}
.settings .color-display:nth-child(2) .color-span:nth-child(3) {
  background-color: #0f0;
}
.settings .color-display:nth-child(2) .color-span:nth-child(4) {
  background-color: #00f;
}
.settings .color-display:nth-child(2) .color-span:nth-child(5) {
  background-color: #ffa500;
}
.settings .color-display:nth-child(2) .color-span:nth-child(6) {
  background-color: #fff;
}
.settings .color-display:nth-child(2) .color-span:nth-child(7) {
  background-color: #ffff00;
}
.settings .color-display:nth-child(3):has(input:checked), .settings .color-display:nth-child(3):hover {
  border-color: #d4c685;
}
.settings .color-display:nth-child(3) .color-span:nth-child(2) {
  background-color: #d4c685;
}
.settings .color-display:nth-child(3) .color-span:nth-child(3) {
  background-color: #f7ef81;
}
.settings .color-display:nth-child(3) .color-span:nth-child(4) {
  background-color: #cfe795;
}
.settings .color-display:nth-child(3) .color-span:nth-child(5) {
  background-color: #a7d3a6;
}
.settings .color-display:nth-child(3) .color-span:nth-child(6) {
  background-color: #99c1b9;
}
.settings .color-display:nth-child(3) .color-span:nth-child(7) {
  background-color: #add2c2;
}
.settings .color-display:nth-child(4):has(input:checked), .settings .color-display:nth-child(4):hover {
  border-color: #059ba8;
}
.settings .color-display:nth-child(4) .color-span:nth-child(2) {
  background-color: #059ba8;
}
.settings .color-display:nth-child(4) .color-span:nth-child(3) {
  background-color: #403692;
}
.settings .color-display:nth-child(4) .color-span:nth-child(4) {
  background-color: #8ac53f;
}
.settings .color-display:nth-child(4) .color-span:nth-child(5) {
  background-color: #455e4e;
}
.settings .color-display:nth-child(4) .color-span:nth-child(6) {
  background-color: #a7a2a9;
}
.settings .color-display:nth-child(4) .color-span:nth-child(7) {
  background-color: #add2c2;
}
.settings .opacity-display {
  padding: 10px;
  text-align: center;
  border: solid 2px black;
  border-radius: 8px;
  cursor: pointer;
  background: var(--background-color);
  transition: all 700ms;
  font-size: 20px;
  letter-spacing: 2px;
}
.settings .opacity-display:has(input:checked) {
  opacity: 0.7;
  border-color: var(--background-color);
}

body:has(#opacity-solid:checked) {
  --face-opacity: 1;
}

body:has(#opacity-see-through:checked) {
  --face-opacity: 0.7;
}

body:has(#opacity-hollow:checked) {
  --face-opacity: 0.3;
}

body,
body:has(#color-1:checked) {
  --text-color: #fdf0d5;
  --background-color: #ff006e;
  background-image: url(./L-1.png);
  --default-front-color: #fdf0d5;
  --default-back-color: #3a86ff;
  --default-left-color: #8338ec;
  --default-right-color: #ff006e;
  --default-top-color: #ffbe0b;
  --default-bottom-color: #fb5607;
}
body .z-front,
body:has(#color-1:checked) .z-front {
  --front-color: #fdf0d5;
}
body .z-back,
body:has(#color-1:checked) .z-back {
  --back-color: #3a86ff;
}
body .x-left,
body:has(#color-1:checked) .x-left {
  --left-color: #8338ec;
}
body .x-right,
body:has(#color-1:checked) .x-right {
  --right-color: #ff006e;
}
body .y-top,
body:has(#color-1:checked) .y-top {
  --top-color: #ffbe0b;
}
body .y-bottom,
body:has(#color-1:checked) .y-bottom {
  --bottom-color: #fb5607;
}

body:has(#color-2:checked) {
  --text-color: #0f0;
  --background-color: #ffa500;
  background-image: url(./L-2.png);
  --default-front-color: #f00;
  --default-back-color: #0f0;
  --default-left-color: #00f;
  --default-right-color: #ffa500;
  --default-top-color: #fff;
  --default-bottom-color: #ffff00;
}
body:has(#color-2:checked) .z-front {
  --front-color: #f00;
}
body:has(#color-2:checked) .z-back {
  --back-color: #0f0;
}
body:has(#color-2:checked) .x-left {
  --left-color: #00f;
}
body:has(#color-2:checked) .x-right {
  --right-color: #ffa500;
}
body:has(#color-2:checked) .y-top {
  --top-color: #fff;
}
body:has(#color-2:checked) .y-bottom {
  --bottom-color: #ffff00;
}

body:has(#color-3:checked) {
  background-image: url(./L-3.png);
  --text-color: #f7ef81;
  --background-color: #99c1b9;
  --default-front-color: #d4c685;
  --default-back-color: #f7ef81;
  --default-left-color: #cfe795;
  --default-right-color: #a7d3a6;
  --default-top-color: #99c1b9;
  --default-bottom-color: #add2c2;
}
body:has(#color-3:checked) .z-front {
  --front-color: #d4c685;
}
body:has(#color-3:checked) .z-back {
  --back-color: #f7ef81;
}
body:has(#color-3:checked) .x-left {
  --left-color: #cfe795;
}
body:has(#color-3:checked) .x-right {
  --right-color: #a7d3a6;
}
body:has(#color-3:checked) .y-top {
  --top-color: #99c1b9;
}
body:has(#color-3:checked) .y-bottom {
  --bottom-color: #add2c2;
}

body:has(#color-4:checked) {
  --text-color: #fff;
  --background-color: #455e4e;
  background-image: url(./L-4.png);
  --default-front-color: #059ba8;
  --default-back-color: #403692;
  --default-left-color: #8ac53f;
  --default-right-color: #455e4e;
  --default-top-color: #a7a2a9;
  --default-bottom-color: #add2c2;
}
body:has(#color-4:checked) .z-front {
  --front-color: #059ba8;
}
body:has(#color-4:checked) .z-back {
  --back-color: #403692;
}
body:has(#color-4:checked) .x-left {
  --left-color: #8ac53f;
}
body:has(#color-4:checked) .x-right {
  --right-color: #455e4e;
}
body:has(#color-4:checked) .y-top {
  --top-color: #a7a2a9;
}
body:has(#color-4:checked) .y-bottom {
  --bottom-color: #add2c2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(./L-1.png);
  background-size: 8px;
  background-position: center;
  color: var(--text-color);
  transition: background-size 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
body:has(.container:hover) {
  background-size: 20px;
}

/*# sourceMappingURL=style.css.map */
